apiVersion: v1
kind: Pod
metadata:
  name: prediction-instance
spec:
  nodeName: unime-master
  containers:
    - name: prediction-instance
      image: dannydenovi/tensorflow_jupyter_rpi:1.3
      resources:
        requests:
          memory: "2Gi"
        limits:
          memory: "2Gi"
      ports:
      - containerPort: 8888
      imagePullPolicy: IfNotPresent
      volumeMounts:
      - mountPath: "/books"
        name: nfs
  volumes:
  - name: nfs
    persistentVolumeClaim:
      claimName: nfs
---
apiVersion: v1
kind: Service
metadata:
  name: prediction-instance
spec:
  ports:
  - port: 8888
    targetPort: 8888
    name: tcp
  selector:
    app: prediction-instance
---
apiVersion: v1
kind: Service
metadata:
  name: prediction-instance
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: prediction-instance
  ports:
    - port: 8888
      targetPort: 8888
      nodePort: 30001
