apiVersion: apps/v1
kind: Deployment
metadata:
  name: training-instance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: training-instance
  template:
    metadata:
      labels:
        app: training-instance
    spec:
      containers:
        - name: training-instance
          image: dannydenovi/tensorflow_jupyter_rpi:1.3
          resources:
            requests:
              memory: "2Gi"
            limits:
              memory: "2Gi"
          ports:
          - containerPort: 8888
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - mountPath: "/books"
            name: nfs
      volumes:
      - name: nfs
        persistentVolumeClaim:
          claimName: nfs  
---
apiVersion: v1
kind: Service
metadata:
  name: training-instance
spec:
  type: NodePort
  selector:
    app: training-instance
  ports:
    - port: 8888
      targetPort: 8888
      nodePort: 30007
